.nav-stacked {
    margin-left: 7px;
}

pre {
    background-color: #f8f8f8;
    color: darkgreen;
}

pre code {
    overflow-x: auto !important;
    white-space: pre !important;
}

pre.sourceCode {
    background-color: #f8f8f8;
    color: black;
    border: 2px solid #eee;
}

.alert-secondary {
    border: 1px sandybrown solid;
    border-left: 15px sandybrown solid;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
}

.alert-primary {
    border: 1px #39c18c solid;
    border-left: 15px #39c18c solid;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
}

.pagination {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

ul.nav ul li.active a {
    color: #2c3e50;
    background-color: white;
    border: none;
}

ul.nav ul li.active a:hover {
    color: #2c3e50;
    text-decoration: underline;
    background-color: white;
    border: none;
}

ul.nav ul li.active a:before {
    content: "[ ";
    font-weight: bold;
}

ul.nav ul li.active a:after {
    content: " ]";
    font-weight: bold;
}

ul.nav ul li a {
    background-color: white;
    border: none;
    padding-top: 7px;
    padding-bottom: 7px;
}

ul.nav ul li a:hover {
    background-color: white;
    color: #7b8a8b;
    text-decoration: underline;
}

.dropdown-header {
    background-color: #2c3e50;
    font-size: 1em;
    padding-left: 10px;
    color: white;
}

.dropdown-menu .divider {
    margin-top: 0px;
    margin-bottom: 0px;
}

.dropdown-menu .dropdown-header {
    background-color: #2c3e50;
}

h1 {
    padding-bottom: 5px;
    border-bottom: 1px lightgrey solid;
}

.ref-index h3 {
    font-style: italic;
}

blockquote {
    font-size: 1em;
    margin-left: 1em;
    padding-left: 1em;
    border-left: 2px #444444 solid;
}
